# Virtual environment
venv/

# Python cache
__pycache__/
*.py[cod]

# IDE
.vscode/
.idea/

# Environment variables
.env
credentials.json
token.json
serviceAccountkey.json
# Generated outputs
outputs/*

# Model/cache files
models/*